<!-- +++++ Footer Section +++++ -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>KS Ignite</h4>
                <p>Scharnhorststr. 3
                    <br/> 10367
                    <br/> Berlin
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>Links</h4>
                <p>
                    <a href="#">Github</a>
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About KS Ignite</h4>
                <p>Building Web Applications with NodeJs</p>
            </div>
            <!-- /col-lg-4 -->

        </div>

    </div>
</div>