<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Speakr App</title>
</head>
<body>

  <!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{title}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!--different views displayed here-->
<div class="container">
    {{{body}}}
</div>

<!-- +++++ Footer Section +++++ -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>KS Ignite</h4>
                <p>Scharnhorststr. 3
                    <br/> 10367
                    <br/> Berlin
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>Links</h4>
                <p>
                    <a href="#">Github</a>
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About KS Ignite</h4>
                <p>Introduction to AngularJS2 Framework</p>
            </div>
            <!-- /col-lg-4 -->

        </div>

    </div>
</div>


</body>
</html>

