<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Speakr App</title>
    <link rel="stylesheet" href="public/stylesheets/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/stylesheets/main.css">
</head>
<body>

{{> nav}}

<!--different views displayed here-->
<div class="container">
    {{{body}}}
</div>

{{> footer}}


</body>
</html>

